<header id="header">
@@if (header === 'type1') {
	<div class="type1">
		<h1><a href="../main/main.html"><img src="@@webRoot/imgs/global/logo.png" alt="광동제약"></a></h1>
		<div class="search_form">
			<input type="search" class="input_search" name="" placeholder="검색어를 입력하세요." />
			<button type="button" class="btn_search">검색</button>
		</div>
		<div class="top_btn">
			<a href="#" class="btn btn_cart">장바구니<span class="label_count">240</span></a>
			<a href="javascript:void(0);" onclick="modalOpen('modal_category')" class="btn btn_category">카테고리보기</a>
		</div>
	</div>
}
@@if (header === 'type2') {
	<div class="type2">
		<h1 class="blind">광동제약</h1>
		<div class="page_name_box">
			<h2>@@title</h2>
			<a href="javascript:history.back()" class="btn_history">이전 페이지 이동</a>
		</div>
	</div>
}
@@if (header === 'type3') {
	<div class="type3">
		<h1 class="blind">광동제약</h1>
		<div class="page_name_box">
			<h2>@@title</h2>
			<a href="javascript:history.back()" class="btn_history">이전 페이지 이동</a>
		</div>
	</div>
}
</header>

@@if (gnb !== 'hidden') {
	@@include('@@webRoot/_include/gnb.html')
}

@@if (toolbar !== 'hidden') {
	@@include('@@webRoot/_include/toolbar.html')
}