/*기타
*/
.page_terms {margin-top:-24px;}
.page_terms .version {margin-top:16px;text-align:right;}
.page_terms .version select {width:auto;padding-right:34px;}
.page_terms .editorcontent {width:100%;overflow:auto;padding:24px 0;}