/* 고객센터
*/
#container {padding-top:0;}
#footer {padding:0;}
#footer .customer {padding:0 0 4px;margin:0;border-width:0;}
.page_cscenter {margin-top:0}
.page_cscenter .category_menu {margin-top:24px;}
.page_cscenter .category_menu ul {margin-bottom:-1px;}
.page_cscenter .button_box {margin-top:16px;}

.section_faq .faq_scroll {overflow-x:auto;position:relative;z-index:1;margin:0 -16px;}
.section_faq .faq_scroll ::-webkit-scrollbar {display: none;}
.section_faq .faq_scroll ol::-webkit-scrollbar {display: none;}
.section_faq .faq_scroll ol {display:flex;flex-wrap:nowrap;gap:0 12px;overflow-x:auto;height:110px;counter-increment:group;counter-reset:row;}
.section_faq .faq_scroll ol li {flex:0 0 auto;position:relative;width:130px;height:110px;border:1px solid #dee0e4;border-radius:4px;counter-increment:row;}
.section_faq .faq_scroll ol li:first-child {margin-left:16px;}
.section_faq .faq_scroll ol li:last-child {margin-right:16px;}
.section_faq .faq_scroll ol li a {display:block;width:100%;height:100%;padding:8px 16px;color:#666;font-size:12px;line-height:14px;}
.section_faq .faq_scroll ol li a::before {content:'Q'counter(row)'.';display:block;height:28px;margin-bottom:4px;color:#e8340c;font-family: 'roboto';font-size:18px;font-weight:700;line-height:27px;}

.section_board {position:relative;}
.section_board .more {position:absolute;right:0;top:5px;}
.section_board .contents_tab ul {padding:18px 0;}
.section_board .contents_tab li {padding:6px 0;}
.section_board .contents_tab li a {display:block;position:relative;overflow:hidden;padding-right:80px;line-height:18px;text-overflow:ellipsis;white-space:nowrap;}
.section_board .contents_tab li .date {position:absolute;right:0;top:0;color:#8f8f8f;font-size:13px;}
@media (max-width:320px) {
	.section_board .contents_tab li a {white-space:normal;word-break:break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
}

.menu_link {margin-top:24px;}
.menu_link ul {display:flex;flex-wrap:wrap;gap:8px;}
.menu_link ul li {width:calc(50% - 4px);}
.menu_link ul li a {display:inline-flex;align-items:center;width:100%;height:44px;padding:0 8px;border:1px solid #dee0e4;border-radius:4px;background:url(../../../imgs/global/icon_arrow_right.png) right center no-repeat;background-size:24px 24px;}
.menu_link ul li .box {display:block;font-weight:500;line-height:1;}
.menu_link ul li .label_count {vertical-align:baseline;margin-left:4px;}

.faq_search {padding:16px 16px 24px;margin:0 -16px;background-color:#797d8d;}
.faq_search dt {color:#fff;line-height:1;}
.faq_search dd {margin-top:16px;}

.faq_list {margin-top:10px;}
.faq_list dl {overflow:hidden;border:1px solid #dee0e4;border-radius:4px;}
.faq_list dl + dl {margin-top:16px;}
.faq_list dt,
.faq_list dd {display:flex;padding:12px 15px;font-size:15px;}
.faq_list dt::before,
.faq_list dd::before {margin-right:4px;font-family:'roboto';font-weight:700;}
.faq_list dt {position:relative;padding-right:100px;background-color:#f4f7f9;line-height:1;}
.faq_list dt::before {content:'Q.';}
.faq_list dt::after {content:'';position:absolute;right:15px;top:50%;width:24px;height:24px;margin-top:-12px;background:url(../../../imgs/global/icon_arrow_down.png) right center no-repeat;background-size:contain;transition:0.2s;}
.faq_list dd {display:none;padding:14px 15px 15px;color:#666;line-height:21px;}
.faq_list dd::before {content:'A.';}
.faq_list .active dt::after {transform:rotate(180deg);}
.faq_list .active dd {display:flex;}

.inquiry_text {padding:12px 0;border-bottom:1px solid #edf0f2;}
.inquiry_text p {color:#666;font-size:15px;line-height:1;letter-spacing: -0.06em;}
.inquiry_text p + p {margin-top:8px;}
.inquiry_text .buttons {margin-top:12px;}
@media (max-width:320px) {
	.inquiry_text p {padding-right:50px;}
}
.page_cscenter .inputset.cols3 {gap:0 8px;}
.page_cscenter .inputset.cols3 input {width:calc((100% - 16px) / 3);}
.page_cscenter .inputset.email {flex-wrap:wrap;}
.page_cscenter .inputset.email .at {width:32px;color:#000;font-size:14px;}
.page_cscenter .inputset.email input {width:calc(50% - 16px);}
.page_cscenter .inputset.email select {width:100%;margin:8px 0 0;}

.inquiry_write .common_tbl {margin-top:24px;}
.inquiry_write .title_box .title {font-size:14px;font-weight:400;}
.inquiry_write .title_box + .common_tbl {margin:0;}
.inquiry_write .common_tbl label {color:#242424;font-size:15px;}
.inquiry_write .common_tbl .inputset + .inputset {margin-top:12px;}