/* 메인
*/
.page_main .title_box {padding:0 16px;}
.page_main .title_box .linetext {position:relative;padding-left:17px;}
.page_main .title_box .linetext::before {content:'';position:absolute;left:8px;top:5px;width:1px;height:14px;background-color:#8f8f8f;}
.page_main .swiper-slide a,
.page_main .swiper-slide img {display:block;}
.page_main .menu_tab {margin:0;}
.page_main .blank_space {margin:0;padding:0;}
.page_main .product_inner {padding:0 16px;}

.section_tabProduct .slider-wrap {position:relative;padding-top:40px;}
.section_tabProduct .more {position:absolute;right:0;top:12px;}

.section_sale .product_inner {padding-top:16px;border-top:1px solid #edf0f2;}
.section_sale .remaining_time {padding-top:48px;margin-bottom:20px;background:url(../imgs/global/icon_sale.png) center top no-repeat;background-size:40px 40px;}
.section_sale .remaining_time dl {display:flex;justify-content:center;align-items:center;}
.section_sale .remaining_time dt {margin-right:4px;color:#666;font-size:13px;line-height:1;}
.section_sale .remaining_time dd strong {font-size:16px;line-height:1;}
.section_sale .button_box {justify-content:center;margin-top:24px;}

.section_board {position:relative;}
.section_board .more {position:absolute;right:16px;top:5px;}
.section_board .contents_tab ul {padding:18px 16px;}
.section_board .contents_tab li {padding:6px 0;}
.section_board .contents_tab li a {display:block;position:relative;overflow:hidden;padding-right:80px;line-height:18px;text-overflow:ellipsis;white-space:nowrap;}
.section_board .contents_tab li .date {position:absolute;right:0;top:0;color:#8f8f8f;font-size:13px;}
@media (max-width:320px) {
	.section_board .contents_tab li a {white-space:normal;word-break:break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
}