/*
	mypage */
.common_orderList .group {overflow:hidden;border:1px solid #dee0e4;border-radius:4px;}
.common_orderList .group:not(:first-child) {margin-top:12px;}
.common_orderList .group > dl > dt {display:flex;flex-wrap:wrap;align-items:center;padding:12px 16px;background-color:#ffe7e1;font-size:15px;line-height:1;}
.common_orderList .group dt label {max-width:calc(100% - 32px);}
.common_orderList .group dt .state {margin-left:auto;font-size:14px;}
.common_orderList .group > dl > dd {border-top:1px solid #dee0e4;}
.common_orderList .group .accordions_wrap {border-color:#edf0f2;}
.common_orderList .group .accordions_wrap .accordion {position:relative;padding:12px 15px;color:#797d8d;font-size:13px;}
.common_orderList .group .accordions_wrap .accordion::after {content:'';position:absolute;right:15px;top:50%;width:12px;height:12px;margin-top:-6px;background:url(../imgs/global/arrow_category.png) center center no-repeat;background-size:contain;transition:0.2s;}
.common_orderList .group .accordions_wrap.on .accordion::after {transform:rotate(180deg);}
.common_orderList .group .accordions_wrap .toggle {border-top:1px solid #dee0e4;background-color:#f4f7f9;}
.common_orderList .info {position:relative;padding:10px 15px 8px;color:#8f8f8f;font-size:12px;line-height:20px;}
.common_orderList .info .btn_detail {position:absolute;right:15px;top:50%;transform:translateY(-50%);}
.common_orderList .product .item:not(:first-child) {border-top:1px solid #dee0e4;}
.common_orderList .product .item {display:flex;flex-wrap:wrap;padding:15px 15px 0;}
.common_orderList .product .item .thumb_box {overflow:hidden;position:relative;width:56px;height:56px;margin-right:8px;border-radius:4px;}
.common_orderList .product .item .thumb_box .thumb {overflow:hidden;position:relative;padding-top:calc(100% - 2px);border:1px solid #edf0f2;border-radius:4px;}
.common_orderList .product .item .thumb_box .thumb img {display:block;position:absolute;top:0;left:0;width:100%;height:100%;object-fit:contain;}
.common_orderList .product .item .thumb_box .soldout,
.common_orderList .product .item .thumb_box .stock {display:flex;justify-content:center;align-items:center;position:absolute;top:0;left:0;width:100%;height:100%;border-radius:4px;font-weight:500;text-align:center;}
.common_orderList .product .item .thumb_box .stock strong {font-size:16px;font-weight:500;}
.common_orderList .product .item .thumb_box .soldout {background-color:rgba(0, 0, 0, 0.5);color:#fff;font-size:15px;line-height:18px;}
.common_orderList .product .item .thumb_box .stock {border:1px solid #e8340c;background-color:rgba(255, 255, 255, 0.5);color:#e8340c;line-height:20px;}
.common_orderList .product .item .info_box {width:calc(100% - 64px);}
.common_orderList .product .item .dealer {display:inline-flex;align-items:center;height:29px;padding:8px;margin-bottom:8px;background-color:#f4f7f9;font-size:13px;}
.common_orderList .product .item .name {display:block;overflow:hidden;width:100%;max-height:36px;line-height:18px;text-overflow:ellipsis;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.common_orderList .product .item .summary {display:flex;flex-wrap:wrap;overflow:hidden;width:100%;margin-top:3px;color:#b0b0b0;font-size:12px;line-height:14px;text-overflow:ellipsis;white-space:nowrap;}
.common_orderList .product .item .summary .box:not(:first-child) {position:relative;padding:0 4px;margin-left:1px;}
.common_orderList .product .item .summary .box:not(:first-child)::before {content:'';position:absolute;left:-1px;top:50%;width:1px;height:8px;background-color:#e3e3e3;transform:translateY(-50%);}
.common_orderList .product .item .summary .box:first-child {padding-right:4px;}
.common_orderList .product .item .summary.type1 {margin:0 0 8px}
.common_orderList .product .item .summary.type1 .box:not(:first-child) {padding:0 8px;}
.common_orderList .product .item .summary.type1 .box:not(:first-child)::before {height:12px;}
.common_orderList .product .item .summary.type1 .box:first-child {padding-right:8px;}
.common_orderList .product .item .price_box {display:flex;align-items:center;justify-content:flex-end;width:100%;padding:8px 0 12px;font-size:13px;line-height:1;text-align:right;}
.common_orderList .product .item .price_box .price {color:#666;}
.common_orderList .product .item .price_box .pay strong {font-size:14px;}
.common_orderList .product .item .price_box .box:not(:first-child) {position:relative;padding-left:17px;}
.common_orderList .product .item .price_box .box:not(:first-child)::before {content:'';position:absolute;left:8px;top:0;width:1px;height:14px;background-color:#e3e3e3;}
.common_orderList .product .item .price_box .priceEa {line-height:15px;}
.common_orderList .product .item .state {display:flex;align-items:center;justify-content:flex-end;width:100%;height:40px;border-top:1px solid #edf0f2;line-height:1;text-align:right;}
.common_orderList .product .item .state .buttons,
.common_orderList .product .item .state .date {margin-right:8px;}
.common_orderList .product .item .other {display:flex;justify-content:space-between;align-items:center;width:100%;padding:12px 0;border-top:1px solid #dee0e4;}
.common_orderList .product .item .other .ea_box_wrap {display:inline-flex;}
.common_orderList .product .item .other .ea_box_wrap .ea_box {margin-right:8px;}
.common_orderList .product .item .other .total {text-align:right;}
.common_orderList .product .item .other .total .price {font-size:12px;line-height:18px;}
.common_orderList .product .item .other .total .price strong {font-size:16px;}
.common_orderList .product .have_check .item .checks {width:24px;margin-right:8px;}
.common_orderList .product .have_check .item .info_box {width:calc(100% - 96px);}
.common_orderList .accordions_wrap.product .item .state {border-color:#dee0e4;}
.common_orderList .product_wrap {overflow:hidden;border:1px solid #dee0e4;border-radius:4px;}
.common_orderList .product_wrap .item .other {margin-left:32px;border-color:#edf0f2;}
.common_orderList .product_wrap .item .price_box {justify-content:space-between;width:calc(100% - 96px);padding-bottom:15px;margin-left:96px;font-size:14px;}
.common_orderList .product_wrap .item .price_box .price {color:#242424;}
.common_orderList .product_wrap .item .price_box .price .small {font-size:12px;}
.common_orderList .product.type1 {border-top-width:0;}
.common_orderList .product.type1 .item {padding-top:0;}
.common_orderList .product.type1 .fullname {margin-bottom:12px;line-height:18px;}
.common_orderList .product.type2 .info_box {width:100%;}
.common_orderList .product.type2 .summary.ea {margin-top:10px;color:#8f8f8f;font-size:13px;}
.common_orderList .product.type2 .price_box {width:100%;padding-top:10px;margin-top:12px;border-top:1px solid #dee0e4;}
// .common_orderList .billing_info {width:calc(100% + 30px);padding:0;margin:12px -15px 0;border-width:0;border-top-width:1px;border-radius:0;background-color:#f4f7f9;}
.common_orderList .billing_info {margin-top:12px;border-width:0;border-radius:0;background-color:#f4f7f9;}
.common_orderList.request .product.type2 .info_box {width:calc(100% - 32px)}
.common_orderList.request .product.type2 .summary.ea {padding-top:10px;border-top:1px solid #dee0e4;}
.common_orderList.request .item {padding-bottom:0}
.common_orderList.request .form {display:flex;width:calc(100% + 30px);padding:12px 0 16px;margin:12px -15px 0;border-top:1px solid #dee0e4;background-color:#f4f7f9;}
.common_orderList.request .form .box {display:flex;flex-direction:column;gap:8px;padding:0 15px;}
.common_orderList.request .form .box.ea {width:158px;border-right:1px solid #dee0e4;}
.common_orderList.request .form .box.input {width:calc(100% - 158px);}
.common_orderList.request .form .box dl {display:flex;align-items:center;gap:8px;height:36px;}
.common_orderList.request .form .box dt {width:72px;color:#666;font-size:13px;}
.common_orderList.request .form .box dd {width:calc(100% - 80px);}
.common_orderList.request .form .box.input dt {width:32px}
.common_orderList.request .form .box.input dd {width:calc(100% - 40px);}
.common_orderList.request .form .box.input dd input {width:72px;}
.common_orderList.request .form .box.input dd::after {content:'개';display:inline-block;margin-left:8px;line-height:36px;}
.common_orderList.request .form_dealer {display:flex;flex-direction:column;gap:8px;width:calc(100% + 30px);padding:12px 0 16px;margin:12px -15px 0;border-top:1px solid #dee0e4;background-color:#f4f7f9;}
.common_orderList.request .form_dealer dl {display:flex;align-items:center;gap:8px;padding:0 15px;}
.common_orderList.request .form_dealer dt {width:80px;color:#666;font-size:13px;}
.common_orderList.request .form_dealer dd {width:calc(100% - 88px);}
.common_orderList .group > .disabled > dt {background-color:#f4f7f9;}
.common_orderList .disabled > dt label {color:#242424}
@media (max-width: 320px) {
	.common_orderList .product_wrap .item .other,
	.common_orderList .product_wrap .item .price_box {flex-direction:column;align-items:flex-end;}
	.common_orderList .product_wrap .item .price_box .btns {margin-top:8px;}
	.common_orderList .product_wrap .item .other .ea_box_wrap {justify-content:space-between;width:100%;}
	.common_orderList .product_wrap .item .other .total {margin-top:8px;}
	.common_orderList .product .item .summary.type1 .box:not(:first-child) {padding:0 4px;}
	.common_orderList .product .item .summary.type1 .box:first-child {padding-right:4px;}
	.common_orderList .product .item .summary.type1 .box:last-child {padding-right:0;}
	.common_orderList.request .form .box.ea {width:45%;border-right:1px solid #dee0e4;}
	.common_orderList.request .form .box.input {width:55%;}
	.common_orderList.request .form .box dt {width:50px;}
	.common_orderList.request .form .box dd {width:calc(100% - 58px);}
	.common_orderList.request .form .box.input dt {width:24px}
	.common_orderList.request .form .box.input dd {width:calc(100% - 32px);}
	.common_orderList.request .form .box.input dd input {width:50px;}
}

.billing_info {border:1px solid #dee0e4;border-radius:4px;}
.billing_info dd strong {font-weight:500;line-height:14px;}
.billing_info .list,
.billing_info .total {padding:0 15px;margin-top:12px;}
.billing_info .list dl,
.billing_info .total dl {display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;line-height:16px;}
.billing_info .list dl {margin-top:12px;}
.billing_info .total {padding-bottom:16px;}
.billing_info .total dl:first-child {border-top:1px solid #dee0e4;}
.billing_info .total dl {padding:12px 0 0;line-height:18px;}
.billing_info .total dd {font-size:12px;}
.billing_info .total dd strong {font-size:16px;font-weight:700;}
.billing_info.type1 {padding-bottom:12px;}

.noticebox .stepbox_row ol {counter-reset:row;padding:8px 16px;}
.noticebox .stepbox_row li {position:relative;padding:8px 16px;margin:0;border-radius:4px;background-color:#fff;color:#242424;font-size:13px;line-height:1;text-align:center;}
.noticebox .stepbox_row li:not(:first-child) {margin-top:24px;}
.noticebox .stepbox_row li:before {counter-increment:row;content:'STEP 'counter(row, decimal-leading-zero);display:block;position:relative;left:auto;top:auto;width:100%;height:auto;margin-bottom:4px;background:none;color:#8f8f8f;font-size:12px;line-height:1;transform:none;}
.noticebox .stepbox_row li:not(:last-child):after {content:'다음단계';position:absolute;left:0;bottom:-24px;width:100%;height:24px;background:url(../imgs/global/icon_arrow_down.png) center center no-repeat;background-size:24px 24px;text-indent:-999em;}

/* 상세조회 */
.period_check {margin:24px -16px 0;}
.period_check .period {display:flex;flex-wrap:wrap;align-items:center;height:36px;padding:0 16px 8px;border-bottom:1px solid #edf0f2;}
.period_check .period .box {line-height:1;}
.period_check .period .box:not(:first-child) {position:relative;padding-left:17px;}
.period_check .period .box:not(:first-child)::before {content:'';position:absolute;left:8px;top:0;width:1px;height:14px;background-color:#b0b0b0;}
.period_check .period .date {padding-top:1px;}
.period_check .period .buttons {margin-left:auto;flex-direction:inherit;}
.period_check .detail {background-color:#f4f7f9;padding:8px 16px 24px;}
.period_check .detail dt {margin:16px 0 8px;font-size:15px;line-height:1;}
.period_check .detail .calendar_box {margin-top:8px;}
.period_check .detail .button_box {padding:0 32px;}
.period_check .inputSelect {display:flex;gap:4px;}
.period_check .inputSelect select {width:94px;}
.period_check .inputSelect input {width:calc(100% - 98px);}
.period_check .button_box {margin-top:24px;}
@media (max-width: 320px) {
	.period_check .period .box:not(:first-child) {padding-left:9px;}
	.period_check .period .box:not(:first-child)::before {left:5px;}
	.period_check .period .buttons {padding-left:2px;padding-right:0;}
	.period_check .period .buttons .arrow {margin-left:2px;margin-right:0;}
	.period_check .detail .button_box {padding:0;}
}

.result_box {display:flex;flex-wrap:wrap;align-items:center;margin:24px 0 8px;}
.result_box .result {color:#8f8f8f;font-size:13px;line-height:1;}
.result_box .mlauto {margin-left:auto;}
.result_box select {height:24px;padding-right:24px;border:none 0;background-position:right center;}
.result_count {padding:0 12px;}

.page_mypage {margin-top:-24px;}
.page_mypage .button_box {margin-top:24px;}

/* 취소신청,완료 */
.modal_claim .button_box {margin-top:24px;}
.modal_claim .refund_detail .blank_space {margin-top:32px;}

/* 반품 */
.check_select {display:flex;align-items:center;gap:8px;margin:12px 0}
.check_select .mlauto {margin-left:auto;}
.mypage_return .request_intro {min-height:50vh;margin-top:16px;}
.mypage_return .title_box .mlauto {font-size:15px;}
.mypage_return .noticebox {margin-bottom:12px;}
.mypage_return .coupon_list dl {overflow:hidden;border:1px solid #dee0e4;border-radius:4px;}
.mypage_return .coupon_list dl:not(:first-child) {margin-top:12px;}
.mypage_return .coupon_list dl > dt {display:flex;flex-wrap:wrap;align-items:center;padding:12px 16px;background-color:#ffe7e1;font-size:15px;line-height:1;}
.mypage_return .coupon_list dl > dt .line_box {margin-left:auto;color:#666;}
.mypage_return .coupon_list dl > dt .line_box .box:last-child {padding-right:0;}
.mypage_return .coupon_list dl dt label {max-width:calc(100% - 32px);}
.mypage_return .coupon_list dl dt .state {margin-left:auto;font-size:14px;}
.mypage_return .coupon_list dl > dd {padding:12px 15px;border-top:1px solid #dee0e4;}
.mypage_return .coupon_list dl > dd .line_box {padding:12px 16px;margin-top:12px;background-color:#f4f7f9;}
.mypage_return .line_box {display:flex;flex-wrap:wrap;font-size:13px;line-height:15px;}
.mypage_return .line_box .box:not(:first-child) {position:relative;padding:0 8px;margin-left:1px;}
.mypage_return .line_box .box:not(:first-child)::before {content:'';position:absolute;left:-1px;top:50%;width:1px;height:15px;background-color:#b0b0b0;transform:translateY(-50%);}
.mypage_return .line_box .box:first-child {padding-right:8px;}
.mypage_return .line_box .box:last-child {padding-right:0;}
.mypage_return .reason_box {border:1px solid #dee0e4;border-radius:4px;background-color:#f4f7f9;}
.mypage_return .reason_box dl {padding:12px 15px;}
.mypage_return .reason_box dl:not(:first-child) {border-top:1px solid #dee0e4;}
.mypage_return .reason_box dt {color:#666;line-height:24px;}
.mypage_return .reason_box dd {margin-top:12px;}
@media (max-width: 320px) {
	.check_select .buttons {padding-left:4px;padding-right:4px;}
}

.modal_return .period_check {margin-top:-16px;}
.modal_return .person_info {position:relative;padding:12px 16px;margin-top:16px;border-radius:4px;background-color:#edf0f2;}
.modal_return .person_info .text {padding-right:80px;font-size:13px;line-height:17px;}
.modal_return .person_info .btns {position:absolute;right:16px;top:50%;transform:translateY(-50%);}
.modal_return .result_box {margin-bottom:16px;}
.modal_return .result_state_box {min-height:240px;}
.modal_return .common_orderList.request .product .item {padding-bottom:12px;}
.modal_return .button_box {margin-top:24px;}

/* 거래원장 */
.page_mypage .result_trading {margin:24px -16px 0;}
.page_mypage .result_trading .list {width:100%;padding:0 0 0 16px;overflow:hidden;overflow-x:auto;}
.page_mypage .result_trading .list::-webkit-scrollbar {display: none;}
.page_mypage .result_trading .list table {width:720px;margin:0 auto;}
.page_mypage .result_trading .list table.pass {width:660px;margin:0 auto;}
.page_mypage .result_trading .s1 {width:65px;}
.page_mypage .result_trading .s2 {width:50px;}
.page_mypage .result_trading .s3 {width:60px;}
.page_mypage .result_trading .s4 {width:48px;}
.page_mypage .result_trading .s5 {width:48px;}
.page_mypage .result_trading .s6 {width:auto;}
.page_mypage .result_trading .s7 {width:71px;}
.page_mypage .result_trading .s8 {width:71px;}
.page_mypage .result_trading .s9 {width:71px;}
.page_mypage .result_trading .s10 {width:71px;}
.page_mypage .result_trading .s11 {width:71px;}
.page_mypage .result_trading .pass .s3 {width:auto;}
.page_mypage .result_trading .pass .s6 {width:48px;}
.page_mypage .result_trading .pass .s7 {width:80px;}
.page_mypage .result_trading .pass .s8 {width:80px;}
.page_mypage .result_trading .pass .s9 {width:80px;}
.page_mypage .result_trading .pass .s10 {width:80px;}
.page_mypage .result_trading th {width:70px;color:#000;}
.page_mypage .result_trading th,
.page_mypage .result_trading td {padding:4px 1px;text-align:center;}
.page_mypage .result_trading thead th {font-size:13px;font-weight:500;}
.page_mypage .result_trading tbody td {font-weight:400;}
.scrollBarCustom {display:block;position:relative;width:calc(100% - 32px);height:8px;margin:20px 16px 0;}
.scrollBarCustom::before {content:'';position:absolute;left:0;top:50%;width:100%;height:4px;margin-top:-2px;background:#edf0f2;}
.scrollBarCustom .bar {position:absolute;left:0;top:2px;min-width:70px;height:4px;background:#e8340c;transition:0.1s;}
.scrollBarCustom .bar::before,
.scrollBarCustom .bar::after {content:'';position:absolute;top:50%;width:1px;height:8px;margin-top:-4px;background:#e8340c;}
.scrollBarCustom .bar::before {left:0;}
.scrollBarCustom .bar::after {right:0; }
@media (max-width: 320px) {
	.page_mypage .result_trading .list {padding-left:8px;}
	.scrollBarCustom {width:calc(100% - 16px);margin-left:8px;margin-right:8px;}
}

/* 재구매 */
.repurchase_box {}