@charset "utf-8";
/* 상품리스트 유형 추가 */
.common_product .list .related {display:none;width:100%;padding:0 11px;margin-top:16px;border:1px solid #dee0e4;border-radius:4px;background-color:#f4f7f9;}
.common_product .list .related li {display:flex;flex-wrap:wrap;align-items:center;padding:11px 0;border-top:1px solid #dee0e4;}
.common_product .list .related li:first-child {border-top:0 none;}
.common_product .list .related .thumb_box {width:72px;height:72px;}
.common_product .list .related .thumb_box .thumb {border-color:#edf0f2;}
.common_product .list .related .info_box {width:calc(100% - 72px);padding:0;padding-left:8px;}
.common_product .list .related .price2,
.common_product .list .related .price2 dl {display:flex;flex-wrap:wrap;align-items:center;}
.common_product .list .related .price2 dl + dl {position:relative;margin-left:17px;}
.common_product .list .related .price2 dl + dl::before {content:'';position:absolute;left:-9px;top:3px;width:1px;height:12px;background-color:#b0b0b0;}
.common_product .list .related .price2 {margin-top:4px;font-size:12px;line-height:18px;}
.common_product .list .related .price2 dt {margin-right:4px;}
.common_product .list .related .price2 .sale {color:#e8340c;}
.common_product .list .related .price2 strong {font-weight:500;line-height:1;} 
.common_product .list .item.active .related {display:block;}
@media (max-width: 320px) {
	.common_product .list .item_buttons {padding:0 8px;}
	.common_product .list .related {margin-top:12px;}
	.common_product .list .related li {align-items:flex-start;}
	.common_product .list .related .thumb_box .thumb {padding-top:0;}
	.common_product .list .related .thumb_box .thumb img {position:relative;top:auto;left:auto;width:70px;height:70px;margin:0;}
	.common_product .list .related .price2 {flex-direction:column;align-items:flex-start;}
	.common_product .list .related .price2 dl + dl {margin:0;}
	.common_product .list .related .price2 dl + dl::before {display:none;}
}
.common_product .bestranking {counter-increment:group;counter-reset:row;}
.common_product .bestranking .item {counter-increment:row;}
.common_product .bestranking .bestlabel {position:absolute;left:8px;top:0;z-index:2;width:32px;height:32px;background-image:url(../imgs/global/bg_bestranking.png);background-position:left top;background-repeat:no-repeat;background-size:contain;}
.common_product .bestranking .bestlabel:before {content:counter(row);position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);margin-top:-2px;text-align:center;font-size:14px;font-family:'roboto';font-weight:700;color:#fff;}
.common_product .bestranking .item:first-child .bestlabel {background-image:url(../imgs/global/bg_bestranking_first.png);}
/* 상품리스트 유형 추가 : 지역별베스트 */
.common_product.other_type .item {align-items:flex-start;}
.common_product.other_type .info_box {padding-top:4px;}
.common_product.other_type .info_box .info {min-height:78px;}
.common_product.other_type .price dl dt {position:absolute;width:1px;height:1px;clip:rect(0, 0, 0, 0);overflow:hidden;}
.common_product.other_type .price dl dd {margin-left:0;}
.common_product.other_type .price dl dd strong {font-size:17px;}
.common_product.other_type .item:nth-child(3) {border-top:1px solid #edf0f2;}
.common_product.other_type .item:nth-child(2) {margin-left:8px;}
.common_product.other_type .item:nth-child(-n+2) {flex-direction:column;width:calc(50% - 4px);padding:0 0 8px;border-bottom-width:0;}
.common_product.other_type .item:nth-child(-n+2) .thumb_box {width:100%;height:auto;}
.common_product.other_type .item:nth-child(-n+2) .thumb_box .thumb {padding-top:calc(100% - 2px);}
.common_product.other_type .item:nth-child(-n+2) .info_box {width:100%;padding:8px;}
.common_product.other_type .item:nth-child(-n+2) .info_box .info {min-height:55px;}
@media (max-width: 320px) {
	.common_product.other_type .info_box {padding-top:8px;}
	.common_product.other_type .info_box .info {min-height:auto;}
	.common_product.other_type .item:nth-child(3) {border-top-width:0;}
	.common_product.other_type .item:nth-child(2) {margin-left:0;}
	.common_product.other_type .item:nth-child(-n+2) {width:100%;padding:12px 0;border-bottom-width:1px;}
	.common_product.other_type .item:nth-child(-n+2) .thumb_box {width:100%;height:162px;}
	.common_product.other_type .item:nth-child(-n+2) .thumb_box .thumb {padding-top:160px;}
	.common_product.other_type .item:nth-child(-n+2) .thumb_box .thumb img {left:50%;width:160px;height:160px;margin-left:-80px;}
	.common_product.other_type .item:nth-child(-n+2) .info_box .info {min-height:auto;}
}

.result_count {display:flex;flex-wrap:wrap;align-items:center;padding:10px 0;min-height:44px;}
.result_count .total {font-size:15px;}
.result_count .mlauto {margin-left:auto;}
.result_count select {height:24px;padding-right:24px;border:none 0;background-position:right center;}
.result_count.type1 {padding:0;margin:16px 0 8px;height:24px;}

.detail_info_box {padding:0 16px 32px;margin:0 -16px;margin-top:32px;background-color:#EDF0F2;}
.detail_info_box .title {padding:24px 0 8px;font-size:14px;font-weight:500;line-height:15px;}
.detail_info_box .info_inner {padding:12px;border-radius:4px;background-color:#fff;font-size:13px;line-height:22px;}
.detail_info_box .info_inner dl {display:flex;flex-wrap:wrap;align-items:flex-start;margin-top:2px;}
.detail_info_box .info_inner dl:first-child {margin-top:0;}
.detail_info_box .info_inner dt {width:55px;}
.detail_info_box .info_inner dd {width:calc(100% - 55px);}
.detail_info_box .info_inner dl li {position:relative;padding-left:8px;}
.detail_info_box .info_inner dl li::before {content:'·';position:absolute;left:0;top:0;}
.detail_info_box .delivery_info_box dt {width:80px;}
.detail_info_box .delivery_info_box dd {width:calc(100% - 80px);}
.detail_info_box .discount_info_box dl {flex-direction:column;}
.detail_info_box .discount_info_box dt,
.detail_info_box .discount_info_box dd {width:100%;}
.detail_info_box .note {position:relative;padding-left:12px;margin-top:4px;color:#8f8f8f;font-size:12px;line-height:17px;}
.detail_info_box .note::before {content:'';position:absolute;left:0;top:3px;width:10px;height:10px;background:url(../imgs/global/icon_note.png) center center no-repeat;background-size:contain;}
.detail_info_box .noti {padding:12px 0 0;margin-top:12px;border-top:1px solid #edf0f2;}
.detail_contents_editor {overflow:hidden;margin-top:24px;text-align:center;}

/* 광동기획전 등 */
.page_promotion .default_section {padding:32px 0;}
.page_promotion .default_section .search_form {margin-top:16px;}
.page_promotion .default_section .common_product {margin-top:24px;}
.page_promotion .product_loading {padding:24px;color:#8f8f8f;text-align:center;}

/* 지역 베스트 */
.page_areaBest .page_title {margin-bottom:0;border-bottom-width:0;}
.page_areaBest .location {display:flex;flex-wrap:wrap;gap:8px;padding:16px;margin:0 -16px 16px;background-color:#f4f7f9;}
.page_areaBest .location .box {width:calc((100% - 64px) / 3);}
.page_areaBest .location select {width:100% !important;margin-right:0 !important;}
.page_areaBest .location .buttons {width:40px;padding:2px 0 0;margin-left:auto;}
@media (max-width: 320px) {
	.page_areaBest .location .box,
	.page_areaBest .location .buttons {width:calc((100% - 8px) / 2);}
}

/* 브랜드관 */
.page_brand .menu_tab {margin-bottom:24px;}
.page_brand .brand_list li {margin-top:16px;}
.page_brand .brand_list li:first-child {margin-top:0;}
.page_brand .brand_list li a,
.page_brand .brand_list li img {display:block;}
// .page_brand .brand_list .roundbox {overflow:hidden;border:1px solid #dee0e4;border-radius:4px;}
.youtubeslide .imgbox {position:relative;}
.youtubeslide .imgbox::before {content:'';position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.2);}
.youtubeslide .imgbox::after {content:'';position:absolute;left:50%;top:50%;width:56px;height:56px;background:url(../imgs/global/btn_video_play.png) center center no-repeat;background-size:contain;transform:translate(-50%, -50%);}
.youtubeslide .imgbox img {display:block;}
.youtubelayer .video_box {position:relative;height:0;max-width:100%;padding-bottom:56.25%;overflow:hidden;}
.youtubelayer .video_box .my_video {position:absolute;left:0;top:0;width:100%;height:100%;}
.youtubelayer .layerbox {padding:0;}
.youtubelayer .video_list {padding:16px;}
.youtubelayer .video_list ul {display:flex;flex-wrap:wrap;gap:8px;}
.youtubelayer .video_list ul li {position:relative;width:calc(50% - 4px);}
.youtubelayer .video_list ul li .imgbox {position:relative;overflow:hidden;width:100%;padding-top:78%;border-radius:4px;}
.youtubelayer .video_list ul li .imgbox::before {content:'';position:absolute;left:0;top:0;z-index:1;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.2);}
.youtubelayer .video_list ul li .imgbox::after {content:'';position:absolute;left:50%;top:50%;z-index:2;width:40px;height:40px;background:url(../imgs/global/btn_video_play.png) center center no-repeat;background-size:contain;transform:translate(-50%, -50%);}
.youtubelayer .video_list ul li img {display:block;position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;}
.youtubelayer .video_list ul li.active::after {content:'';position:absolute;left:0;top:0;z-index:1;width:calc(100% - 8px);height:calc(100% - 8px);border:4px solid #e8340c;border-radius:4px;}
.youtubelayer .video_list ul li.active::after .imgbox::after {display:none;}
@media (max-width: 320px) {
	.youtubelayer .video_list ul li .imgbox {padding-top:100%;}
}

/* 검색결과 */ 
.recent_search .page_title {padding-bottom:0;border-bottom-width:0;}
.recent_search .recent_search_box {border-radius:4px;border:1px solid #dee0e4;}
.recent_search .recent_search_box .search_list {padding:0 15px;}
.recent_search .recent_search_box .search_list li {position:relative;padding-right:25px;border-top:1px solid #edf0f2;}
.recent_search .recent_search_box .search_list li:first-child {border-top-width:0;}
.recent_search .recent_search_box .search_list li span {display:block;overflow:hidden;padding:8px 0;color:#666;line-height:24px;text-overflow:ellipsis;white-space:nowrap;}
.recent_search .recent_search_box .search_list li button {position:absolute;right:0;top:50%;width:16px;height:16px;margin-top:-8px;background:url(../imgs/global/icon_x.png) center center no-repeat;background-size:contain;text-indent:-999em;}
.recent_search .recent_search_box .allDelete {padding:5px 15px;border-top:1px solid #edf0f2;text-align:right;}
.recent_search .recent_search_box .allDelete .btn {display:inline-block;line-height:26px;vertical-align:top;}

/* 이벤트 */
.page_event .title_layer {top:50%;margin:0 16px;transform:translateY(-50%);}
.page_event .title_layer .subtext {margin:0;color:#797d8d;font-size:17px;line-height:20px;}
.page_event .event_list li {padding:13px 0 12px;}
.page_event .event_list .img_box {display:block;overflow:hidden;position:relative;border-radius:5px;}
.page_event .event_list .img_box img {display:block;}
.page_event .event_list .info_box {display:block;position:relative;padding-right:70px;margin-top:10px;}
.page_event .event_list .info_box .title {display:block;font-size:16px;font-weight:500;line-height:21px;}
.page_event .event_list .info_box .date {display:block;color:#b0b0b0;font-size:12px;font-weight:300;line-height:21px;} 
.page_event .event_list .info_box .dday {position:absolute;right:0;top:0;min-width:54px;padding:5px;border-radius:5px;background-color:#ff7556;color:#fff;font-size:16px;font-weight:700;line-height:1;text-align:center;}
.page_event .event_list .closed .info_box .title {color:#797d8d;}
.page_event .event_list .closed .info_box .dday {background-color:#dee0e4;}
.page_event .event_list .closed .state_layerbox {position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.5);}
.page_event .event_list .closed .state_layerbox strong {position:absolute;left:50%;top:50%;width:100%;color:#fff;font-size:16px;font-weight:500;text-align:center;transform:translate(-50%, -50%);}
.page_event .board_detail_wrap {margin-top:0;}
@media (max-width: 320px) {
	.page_event .event_list .closed .state_layerbox strong {font-size:14px;}
}

/* 출석체크 */
.event_stamp {margin:0 -16px;}
.event_stamp .button_box {margin:12px;}
.event_stamp .button_box.list {justify-content:flex-end;}
.event_stamp .button_box.list .buttons {width:128px;}

/* 특가세일, 타임세일 */
.page_sale .wide_title_banner .info_box {margin-top:12px;}
.page_sale .info_box dt,
.page_sale .info_box dd {line-height:20px;}
.page_sale .info_box .timebox {display:flex;align-items:center;padding:4px 8px;margin-top:3px;border-radius:4px;background-color:#242424;color:#fff;font-family:'roboto';font-size:20px;font-weight:700;line-height:20px;letter-spacing:0.16em;}
.page_sale .info_box .timebox .box::after {content:':';}
.page_sale .info_box .timebox .box.second::after {content:''}
.page_sale .search_form_wrap {display:flex;align-items:center;margin-top:24px;}
.page_sale .search_form_wrap .select_dealer {width:106px;margin-right:8px;}
.page_sale .search_form_wrap .search_form {width:calc(100% - 114px);}
.page_sale .result_count {margin-top:8px;}
.page_sale .common_product .list .item:first-child {padding-top:0;}

/* 공동구매 */
.groupbuying_list > ul > li {position:relative;overflow:hidden;padding:20px 16px;margin-top:16px;border-radius:8px;background:#5a94d8 url(../imgs/global/bg_groupbuying_list.png) left top no-repeat;background-size:100% auto;}
.groupbuying_list > ul > li:first-child {margin-top:0;}
.groupbuying_list .count {height:22px;margin-bottom:16px;color:#ffee61;font-size:22px;font-weight:700;line-height:1em;}
.groupbuying_list .inner {overflow:hidden;padding:16px; border-radius:4px;background-color:#fff;}
.groupbuying_list .product_box {display:flex;flex-wrap:wrap;align-items:center;}
.groupbuying_list .thumb_box {position:relative;overflow:hidden;width:80px;height:80px;border-radius:4px;}
.groupbuying_list .thumb_box .thumb {position:relative;overflow:hidden;padding-top:78px;border:1px solid #DEE0E4;border-radius:4px;}
.groupbuying_list .thumb_box .thumb img {display:block;position:absolute;left:0;top:0;width:78px;height:78px;object-fit:contain;}
.groupbuying_list .info_box {width:calc(100% - 80px);padding:0 0 0 8px;}
.groupbuying_list .info_box .name {display:block;overflow:hidden;color:#242424;font-size:14px;line-height:18px;text-overflow:ellipsis;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.groupbuying_list .info_box .summary {display:flex;flex-wrap:wrap;overflow:hidden;margin-top:2px;color:#888;font-size:12px;line-height:16px;text-overflow:ellipsis;white-space:nowrap;}
.groupbuying_list .info_box .summary .box {position:relative;padding:0 4px;margin-left:1px;}
.groupbuying_list .info_box .summary .box::before {content:'';position:absolute;left:-1px;top:50%;width:1px;height:8px;background-color:#e3e3e3;transform:translateY(-50%);}
.groupbuying_list .info_box .summary .box:first-child {padding-left:0;margin-left:0;}
.groupbuying_list .info_box .summary .box:first-child::before {display:none;}
.groupbuying_list .step_box {position:relative;margin-top:12px;}
.groupbuying_list .step_box .bar {position:absolute;left:0;top:20px;width:100%;height:28px;border-radius:14px;background-color:#dee0e4;}
.groupbuying_list .step_box .bar > span {position:absolute;width:0;height:28px;border-radius:14px;background-color:#e8340c;}
.groupbuying_list .step_box ol {display:flex;flex-wrap:nowrap;}
.groupbuying_list .step_box li {position:relative;width:calc(100%/3);text-align:right;}
.groupbuying_list .step_box li .unit,
.groupbuying_list .step_box li .each {display:block;color:#666;line-height:1em;}
.groupbuying_list .step_box li .each {margin-top:40px;font-size:12px;}
.groupbuying_list .step_box li .number {line-height:1em;}
.groupbuying_list .step_box li::after {content:'';position:absolute;right:4px;top:24px;z-index:1;width:20px;height:20px;border-radius:50%;background-color:#fff;background-image:url(../imgs/global/icon_progress.png);background-position:center center;background-repeat:no-repeat;background-size:8px auto;}
.groupbuying_list .step_box li.attain .unit,
.groupbuying_list .step_box li.attain .each {color:#e8340c;}
.groupbuying_list .step_box li.attain::after {background-image:url(../imgs/global/icon_progress_attain.png);}
.groupbuying_list .step_box .cols1 li {width:calc(100%/1);}
.groupbuying_list .step_box .cols2 li {width:calc(100%/2);}
.groupbuying_list .step_box .cols3 li {width:calc(100%/3);}
.groupbuying_list .state {margin-top:12px;font-weight:500;line-height:22px;text-align:right;}
.groupbuying_list .check {display:flex;flex-wrap:nowrap;align-items:center;padding:12px 0;margin-top:12px;border-top:1px solid #edf0f2;}
.groupbuying_list .check .price {display:flex;align-items:center;margin-left:auto;font-size:12px;}
.groupbuying_list .check .price .current {margin-right:4px;font-size:14px;}
.groupbuying_list .check .price strong {font-size:17px;}
.groupbuying_list .state_layerbox {position:absolute;left:0;top:0;z-index:2;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.6)}
.groupbuying_list .state_layerbox strong {position:absolute;left:50%;top:50%;padding-top:72px;background:url(../imgs/global/ico_complete.png) center top no-repeat;background-size:64px 64px;color:#fff;font-size:20px;font-weight:500;line-height:1em;transform:translate(-50%, -50%);}
@media (max-width: 320px) {
	.groupbuying_list .product_box {flex-direction:column;}
	.groupbuying_list .thumb_box {width:100%;}
	.groupbuying_list .thumb_box .thumb img {left:50%;margin-left:-39px;}
	.groupbuying_list .info_box {width:100%;padding:0;margin-top:12px;}
	.groupbuying_list .info_box .name {-webkit-line-clamp:2;}
	.groupbuying_list .check .price {flex-direction:column;align-items:flex-end;}
	.groupbuying_list .check .price .current {margin-right:0;}
	.groupbuying_list .check .price strong {font-size:14px;}
}

/* 정기배송 */
.page_regular .category_menu {margin-top:32px;}
.page_regular .result_count {padding-bottom:0;}