/* 가이드
*/
#guide_wrap .default {border-width:1px;}
#guide_wrap .default.scroll {border-color:#EDF0F2;}
#guide_wrap .default h2 {text-align:center;font-size:1.6rem;font-weight:500;line-height:40px;}
#guide_wrap #header .top_btn .btn_category.show {background-image:url(../../../imgs/global/icon_x.png)}
#guide_wrap #gnb {position:fixed;top:64px;left:0;z-index:3;}
#guide_wrap #fixedBtn.scroll {transform:translate3d(0, -16px, 0);}

#guide_wrap .aside {position:fixed;left:0;top:-200px;z-index:4;width:100%;transition:all 0.2s;}
#guide_wrap .aside .wrap {width:100%;background-color:#e8340c;}
#guide_wrap .aside .wrap li a {display:block;padding:16px;color:rgba(256,256,256,0.5);text-align:center;}
#guide_wrap .aside .wrap li:not(:first-child) {border-top:1px solid #c22c0a;}
#guide_wrap .aside .wrap li.active a {color:rgba(256,256,256,1);font-weight:500;}
#guide_wrap .aside.show {top:64px;}

#guide_wrap #container {padding:50px 0;}

.guide_container .section_visual,
.guide_container .section_banner1 {margin:0 -16px;}
.guide_container .swiper-slide a,
.guide_container .swiper-slide img {display:block;}
.guide_container .swiper-slide img {width:100%;}

.guide_container .wideslide {padding-right:27px;margin:16px -16px 0;}
.guide_container .wideslide a,
.guide_container .wideslide img {display:block;}
.guide_container .wideslide img {width:100%;}
.guide_container .wideslide.none-swiper {padding-right:0;}

.guide_container .h_type1 {padding:16px;font-size:2.4rem;font-weight:300;}
.guide_container .h_type2 {font-weight:700;margin:0 0 8px;}
.guide_container .h_type3 {display:inline-flex;padding:2px 8px;margin:16px 0 8px;border-radius:4px;background-color:#242424;color:#fff;}

.guide_container .section {padding:16px;}
.guide_container .section:not(:first-child) {border-top:1px solid #EDF0F2;}
.guide_container .font_list {display:flex;flex-wrap: wrap;flex-direction:column;gap:4px;}
.guide_container .color_chip {display:flex;flex-wrap:wrap;gap:16px;}
.guide_container .color_chip li {display:flex;flex-wrap: wrap;flex-direction:column;gap:8px;width:calc((100% - 64px) / 5);text-align:center;font-size:12px;}
.guide_container .color_chip .chip {width:100%;padding-top:100%;border-radius:12px;overflow:hidden;}
.guide_container .data_list_row {border-top:1px solid #242424}
.guide_container .data_list_row dl {display:table;width:100%;border-bottom:1px solid #e3e3e3;margin-block-start:0}
.guide_container .data_list_row dt {display:table-cell;vertical-align:middle;width:100px;background-color:#EDF0F2;padding:8px;}
.guide_container .data_list_row dd {display:table-cell;width:calc(100% - 100px);padding:8px;}
.guide_container .guide_flex_box {display:flex;}

#guide_wrap.guide_wrap {padding:20px 16px;}
#container_guide {margin-top:20px;}
#container_guide .comment {background-color:#f4f7f9;padding:15px;margin-top:10px;font-size:1.2rem;}
#container_guide .comment a {text-decoration:underline;}
#container_guide .legend {color:#000;margin:20px 16px;display:flex;}
#container_guide .legend > span {margin-right:20px;}
#container_guide .legend > span em + em {font-weight:500;font-family:'roboto';font-size:16px;}
#container_guide .legend .total {color:#999}
#container_guide .legend .complete {color:#005aff}


.codinglist {border-bottom:solid 1px #ccc}
.codinglist table {border-top:solid 1px #dee0e4;}
.codinglist table th,
.codinglist table td {border:solid 1px #dee0e4;font-size:1.3rem;text-align:center;padding:8px 0}
.codinglist table thead th {font-size:1.2rem;font-weight:500;background-color:#f4f7f9;border-bottom:solid 1px #dee0e4;color:#666;}
.codinglist table tbody td {padding:12px 0;}

.codinglist table{counter-reset:group;}
.codinglist tbody{counter-increment:group;counter-reset:row;}
.codinglist tbody tr{counter-increment:row;}
.codinglist tbody td.col-num:before{content:counter(row);}
.codinglist table tbody tr.row-group td {border-top-color:#ccc;border-top-width:2px;}
.codinglist table .col-section {width:80px;}
.codinglist table .col-num {width:50px;}
.codinglist table .col-navi {width:400px;}
.codinglist table .col-1depth {width:auto;}
.codinglist table .col-2depth {width:auto;}
.codinglist table .col-3depth {width:auto;}
.codinglist table .col-4depth {width:auto;}
.codinglist table .col-url {width:350px;}
.codinglist table .col-type {width:65px;}
.codinglist table .col-complete {width:60px;}
.codinglist table .col-etc {width:auto;}

.codinglist table td.col-section {background-color:#f4f7f9;font-size:1.2rem;font-weight:500;}
.codinglist table td.col-num,
.codinglist table td.col-type {font-family:'roboto';font-size:1.1rem;}
.codinglist table td.col-url,
.codinglist table td.col-etc {text-align:left;padding-left:10px;font-size:1.2rem;}
.codinglist table td.col-url {color:#8f8f8f;}
.codinglist table td.col-url a {text-decoration:underline;}
.codinglist table td.col-complete {font-size:1.1rem;}

.codinglist td.col-complete[data-complete=wait] {color:#e52c1e;}
.codinglist td.col-complete[data-complete=done] {color:#005aff;}
.codinglist td.col-complete[data-complete]:after {content:attr(data-complete)}
.codinglist td.col-complete[data-complete=wait]:after {content:''}
.codinglist td.col-complete[data-complete=done]:after {content:'완료'}
.codinglist td.col-complete[data-complete=del]:after {content:'삭제'}
.codinglist td.col-complete[data-complete=except]:after {content:'제외'}

.codinglist td.col-type[data-type=modal] {color:#8f8f8f;}
.codinglist td.col-type[data-type=urlmodal] {color:#8f8f8f;}
.codinglist td.col-type[data-type=include] {color:#8f8f8f;}
.codinglist td.col-type[data-type]:after {content:attr(data-type)}
.codinglist td.col-type[data-type=page]:after {content:'page'}
.codinglist td.col-type[data-type=modal]:after {content:'modal'}
.codinglist td.col-type[data-type=urlmodal]:after {content:'url-modal'}
.codinglist td.col-type[data-type=include]:after {content:'include'}

.site__map_box {margin:20px 16px;}
.site__map_box dt {font-size:16px;font-weight:500;margin-bottom:10px}
.site__map {display:block;padding:15px;margin:8px 0;border:1px solid #ddd;border-radius:4px;background-color:#f4f7f9;}
.site__map_sub {display:block;margin-left:16px;margin-top:2px;padding:15px;border:1px solid #ddd;border-radius:4px;background-color:#f4f7f9;}