.site__map_box {margin:20px 16px;}
.site__map_box dt {font-size:16px;font-weight:500;margin-bottom:10px}
.site__map {display:block;padding:15px;margin:8px 0;border:1px solid #ddd;border-radius:4px;background-color:#f4f7f9;}
.site__map_sub {display:block;margin-left:16px;margin-top:2px;padding:15px;border:1px solid #ddd;border-radius:4px;background-color:#f4f7f9;}

#app {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}
.map_header {
  display:flex;
  align-items:center;
  width:100%;
  padding:16px;
  font-weight:500;
  h1 {
    color:#e8340c;
    font-size: 3rem;
  }
  h2 {
    margin-left:auto;
    font-size: 1.8rem;
  }
}

.map_container {
  padding:16px;
  .list {
    > :not(:first-child) {margin-top:16px;}
    dl {overflow:hidden;border:1px solid #dee0e4;border-radius:4px;}
    dt {position:relative;padding:15px;background-color:#f4f7f9;font-weight:500;}
    dt::after {content:'';position:absolute;right:15px;top:50%;width:24px;height:24px;margin-top:-12px;background:url(../../../imgs/global/icon_arrow_down.png) center center no-repeat;background-size:contain;transition:0.2s;}
    dd {display:none;}
    li {border-top:1px solid #edf0f2;}
    li a {position:relative;display:flex;flex-wrap:wrap;align-items:center;gap:4px;padding:15px;}
    li .pageName {width:calc(100% - 65px);font-weight:500;}
    li .iconlabel_box {margin-left:auto;}
    li .iconlabel_box .label[data-type=page] {background-color:#FF7556;}
    li .iconlabel_box .label[data-type=modal] {background-color:#c5a86f;}
    li .iconlabel_box .label[data-type=urlmodal] {background-color:#726562;}
    li .iconlabel_box .label[data-type]:after {content:attr(data-type)}
    li .iconlabel_box .label[data-type=page]:after {content:'PAGE'}
    li .iconlabel_box .label[data-type=modal]:after {content:'MODAL'}
    li .iconlabel_box .label[data-type=urlmodal]:after {content:'URL Modal'}
    li .pageSub {width:100%;font-size:1.3rem;}
    li .summary {width:100%;color:#8f8f8f;font-size:1.2rem;}
    .active dt::after {transform:rotate(180deg);}
    .active dd {display:block;}
  }
}

.map_footer {
  margin-top: auto;
}